.base {
  display: flex;
  gap: 8px;
  align-items: center;
}

.text {
  color: white;
  size: 24px;
}

.badge {
  color: black;
  size: 20px;
  padding: 1px 6px;
  background-color: white;
  border-radius: 8px;
}
