%tongue {
  content: '';
  display: block;
  position: absolute;
  width: 9px;
  height: 20px;
  background: url(./tongue.svg) no-repeat center / contain;
}

.base {
  position: relative;
  background: #11141d;
  border-radius: 20px;

  &__left::after {
    @extend %tongue;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%) rotate(180deg);
  }

  &__right::after {
    @extend %tongue;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%) rotate(0deg);
  }

  &__top::after {
    @extend %tongue;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%) rotate(-90deg);
  }

  &__bottom::after {
    @extend %tongue;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 70%) rotate(90deg);
  }
}
