@use '../common.scss' as *;

.base {
  display: flex;
  gap: 4px;

  @include breakpoint('md') {
    flex-direction: column;
    gap: 0px;
  }
}

.text {
  font-size: 38px;
  font-weight: 700;
  font-style: italic;
  transform: translate(-8px, -5px);
  display: none;

  @include breakpoint('md') {
    display: block;
  }
}

.betText {
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-4px);
  gap: 6px;

  @include breakpoint('md') {
    transform: translateY(-2px);
  }

  &__right {
    font-style: normal;
  }

  &__left {
    margin-left: 10px;
  }

  &__small {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    transform: translateY(2px);
  }
}

.playButton {
  height: 60px;
  background-image: url('/assets/kit/ui/buttons/play.webp');
  background-size: cover;
  background-position: 0px 0px;
  margin-top: 10px;
  filter: drop-shadow(8px 8px 6px rgba(70, 15, 10, 1));

  &:active {
    background-position: 0px -70px;
    filter: none;
  }

  @include breakpoint('md') {
    margin-top: 10px;
    height: 70px;
    width: 340px;
    background-image: url('/assets/kit/ui/buttons/play_mobile.webp');
    background-size: cover;
    background-position: 0px 0px;
    transform: translate(-28px, -7px);
    position: relative;

    &:active {
      background-position: 0px -90px;

      .text {
        transform: translate(-8px, 0px);
        opacity: 0.6;
      }
    }
  }
}

.wrapper {
  display: flex;
  gap: 8px;
  @include breakpoint('md') {
    transform: translateX(-24px);
  }
}

.betButton {
  width: 145px;
  height: 60px;
  margin-top: 10px;
  filter: drop-shadow(8px 8px 6px rgba(70, 15, 10, 1));

  @include breakpoint('md') {
    width: 160px;
  }
}

.maxBetButton {
  background-image: url('/assets/kit/ui/buttons/bet_high.webp');
  background-size: cover;
  background-position: 0px 5px;

  &__disabled {
    background-position: 0px -50px;
    filter: none;

    .betText {
      margin-top: 4px;
      opacity: 0.6;
    }
  }

  @include breakpoint('md') {
    &__disabled {
      background-position: 0px -56px;
    }
  }
}

.minBetButton {
  background-image: url('/assets/kit/ui/buttons/bet_low.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 6px;

  &__disabled {
    filter: none;
    background-position: 4px -46px;

    .betText {
      margin-top: 4px;
      opacity: 0.6;
    }
  }

  @include breakpoint('md') {
    &__disabled {
      background-position: 4px -50px;
    }
  }
}
